body {
  color: #333;
  font-family: Saans, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
}

.nav_wrapper {
  z-index: 2;
  width: 100%;
  height: 8rem;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  display: flex;
  position: fixed;
}

.hero_bg {
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: linear-gradient(rgba(255, 0, 0, .5), rgba(255, 0, 0, .5));
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.nav_logo {
  height: 3rem;
}

.hero_wrapper {
  width: 100vw;
  height: 100svh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hero_content-wrapper {
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-style-h1 {
  letter-spacing: -2px;
  margin-bottom: 0;
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.1;
}

.text-size-large {
  opacity: .7;
  letter-spacing: -1.5px;
  font-size: 5rem;
  line-height: 1.1;
}

.text-size-large.opacity-50 {
  opacity: .7;
}

.button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #fff;
  border-radius: 100vw;
  transition: all .2s;
}

.button:hover {
  color: #121212;
  background-color: #fff;
  border-color: #fff;
}

.spacer-small {
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 991px) {
  .hero_content-wrapper {
    text-align: center;
  }

  .text-style-h1 {
    letter-spacing: -1.5px;
    font-size: 3rem;
  }

  .text-size-large {
    opacity: .7;
    font-size: 3rem;
  }
}

@media screen and (max-width: 479px) {
  .nav_wrapper {
    height: 6rem;
    padding: 1.5rem;
  }

  .nav_logo {
    height: 2rem;
  }

  .text-style-h1 {
    letter-spacing: -1px;
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 2rem;
    line-height: 1;
  }

  .text-size-large {
    letter-spacing: -1px;
    font-size: 2rem;
    line-height: 1;
  }
}


@font-face {
  font-family: 'Saans';
  src: url('../fonts/SaansTRIAL-Medium.woff2') format('woff2'), url('../fonts/SaansTRIAL-Medium.woff') format('woff'), url('../fonts/SaansTRIAL-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}